div.container {
  text-align: center !important;
}

nav{
  margin-top: 20px !important;
}

a.navbar-brand{
  margin-left: 10px;
}

hr.nav-sep{
  margin-top: 0px !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

img.prof-alex {
  width: 25%;
  height: auto;
  display: inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
        filter: drop-shadow(5px 5px 5px #666666);
}

p.brave{
  display: inline-block;
  font-size: 540%;
  font-family:Helvetica;
/*  text-shadow: 3px 3px #666666;*/
-webkit-filter: drop-shadow(5px 5px 5px #666666);
        filter: drop-shadow(5px 5px 5px #666666);
}

p.brave-context {
  display: inline-block;
  text-align: left;
  font-size: 130%;
}

.separator {
  display: flex;
  align-items: center !important;
  text-align: center !important;
  color: #AFAFAF;
  margin-top: 0px;
}

.separator::before,
.separator::after {
  content: '' !important;
  flex: 1 !important;
  border-bottom: 1px solid #AFAFAF !important;
}

.separator:not(:empty)::before {
  margin-right: .25em !important;
  margin-left: 30px;
}

.separator:not(:empty)::after {
  margin-left: .25em !important;
  margin-right: 30px;
}

h1.about{
  font-size: 400%;
}

div.context-about{
  padding: 100px;
  text-align: justify;
  background: linear-gradient(to right, #ffffff 0%, #f9f9f9 100%);
  text-justify: inter-word;

}

img.yy{
  width: 5%;
  height: auto;
  margin-top: 15%;
}